{% extends 'admin/adminbase.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <section class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-5 text-center">
                    {{ title }}
                </h1>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-8 col-md-8">
                <a class="btn btn-success mb-4" href="{{ path('admin_rate_create') }}">Создать тариф</a>
                <h2 class="mb-3">Тарифы:</h2>
                <ul>
                    {%  for rate in rates %}
                        <li>{{ rate.getName() }}({% if rate.getType() == 'Internet' %}Интернет{% endif %}{% if rate.getType() == 'TV' %}Телевидение{% endif %}{% if rate.getType() == 'Video' %}Видеонаблюдение{% endif %})
                            <a href="{{ path('admin_rate_edit' , {'id': rate.getId() }) }}">Редактировать</a>
                            <a href="{{ path('admin_rate_delete' , {'id': rate.getId() }) }}">Удалить</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>



{% endblock %}